/*
** Bootstrap over-rides
*/
body {
    font-family: 'Raleway', sans-serif;
    color: #51524E;
    line-height: 1.5;
	font-size: px;
}
h1 {
	font-size: px;
}

.titles {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
}
#FRAME_MENU{
    float:left;
}


@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.form-control {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    height: 36px;
    padding: 7px 12px;
}
.form-control.search-text {
     border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    font-weight: 100;
    text-transform: capitalize;
    color: #FFFFFF;
}

.btn {
    font-size: 13px;
    padding: 10px 12px;
    font-weight: 800;
    text-transform: uppercase;
}
.btn-default {
    border-color: #000000;
    background-color: #0D0B05;
    color: #FFFFFF;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:hover:focus,
.btn-default.focus {
    border-color: #000000;
    background-color: #0D0B05;
    color: #FFFFFF;
	opacity: 0.8;
}
.btn-primary,
.btn-inverse {
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
}
.btn-primary:hover,
.btn-primary:focus, 
.btn-primary:active:focus,
.btn-inverse:focus, 
.btn-inverse:active:focus {
	color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
    opacity: 0.8;
}
.reviews-count{
    display: none !important;
}

.search-form  .search-submit span{
    color: #FFFFFF;
} 
.search-form .search-submit{
    background-color: transparent !important;
    padding: 0;
    width: auto !important;
}
@media (max-width: 1023px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-nav {
      float: none!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}
/*
** Template code
*/
.logo {
    height: 60px;
    position: relative;
    overflow: hidden;
}
.logo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.logo a:hover img {
    opacity: 0.6;
}
.top-nav {
    background-color: #000000;
	color: #FFFFFF;
    padding-bottom:5px;
}
.top-info{
    display: block;
    padding: 10px 0;
}
.top-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 12px;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.top-nav ul li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}
.top-nav .useraccount > ul {
    float: right;
}
.top-nav ul li:last-child {
    border: none;
    margin: 0;
    padding: 0;
}
.top-nav ul li a {
    color: #FFFFFF;
    display: block;
    padding: 15px 0 0;
    font-weight: 100;
    text-transform: capitalize;
}

.site-header {
    padding: 25px 0 0;
}
.search-form {
    position: relative;
}
.search-form .search-text {
    padding: 9px 20px 9px 12px;
    height: 30px;
    margin-top: 5px;
    width: 80px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.search-form .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    font-size: 16px;
}
#searchBox:hover .search-form .search-text{
    width: 300px;
    border-bottom: 1px solid #FFFFFF;
}
.mobile-menu-inner #menulinks li{
    width: 100%;
}
.mobile-menu-inner #menulinks li a{
    width: 100%;
    min-height: auto;
    padding: 0;
    text-transform: capitalize;
    font-size: 13px;
    color: #555;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #444;
}
.minicart {
    float: right;
    padding: 0px 0 0px 10px;
}
.minicart-inner {
    display: block;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
.minicart-inner:hover {
    color: #000;
    opacity: 0.8;
}
.minicart .cart-icon {
    display: block;
    width: auto;
    font-size: 16px;
    float: right;
    margin-right: 5px;
    margin-top: -2px;
}
.minicart .cart-details {
    display: block;
    float: left;
}

span.cart-title {
    font-size: 12px;
    line-height: 15px;
    font-weight: 100;
    text-transform: capitalize;
}
span.cart-count {
    color: #666;
    font-size: 10px;
    display: block;
    line-height: 15px;
    font-weight: 500;
}
.site-footer {
    background-color: #fff;
    padding: 55px 0 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

ul.extrapages li {
    line-height: 1;
    margin: 0 0 15px;
    text-align: center;
}
ul.extrapages li a {
    color: #54565b;
    font-size: 16px;
}
.footer-social {
    padding-top: 15px;
    padding-bottom: 15px;
}
.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    background-color: #050502;
}
.copyright p{
    margin: 5px 0;
    font-size: 13px;
}
.mailing-section{
    background-color: #e7e7e7;
    padding: 30px 0;
}
.mailist-box {
    width: 100%;
    float: right;
    margin-bottom: 10px;
}
.mailinglist-form{
    width: 60%;
    position: relative;
    float: left;
    margin-left: 10px;
}
.mailist-box h3 {
    float:left;
    margin: 10px;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
}
.mailinglist-input.form-control {
    background-color: #fff;
    color: #fff;
    float: left;
    width: 100%;
}
.mailinglist-submit {
    background-color: transparent;
    border: none;
    color: #000 !important;
    float: right;
    position: absolute;
    right: 0px;
    font-weight: 800;
    
}
.btn-default.mailinglist-submit:hover, 
.btn-default.mailinglist-submit:focus {
    color:#fff !important;
}
.mailinglist-response {
    display: none;
}
.maillist-options {
    margin: 15px 0 0;
}
.subscribe {
    float: left;
    margin-right: 0px;
    line-height: 13px;
    padding: 9px 0 0 10px;
}
.subscribe input[type="radio"] {
    margin: 0;
    vertical-align: middle;
}
.subscribe label {
    margin: 0;
    font-size: 12px;
    line-height: 13px;
    font-weight: 800;
    margin-left: 3px;
    color: #000;
    cursor: pointer;
}

.footer-social ul {
    margin: 0;
}
.social-icons-label{
    display: none !important;
}
ul.payment-icons {
    text-align: left;
}
ul.payment-icons li {
    font-size: 34px;
    line-height: 36px;
    vertical-align: middle;
}

ul.payment-icons li.payment-icons-label,
ul.social-icons li.social-icons-label {
    font-size: 18px;
    vertical-align: middle;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
}

.social-icons {
    margin: 0;
    padding: 0;
}
.social-icons li a {
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 100%;
    display: block;
    text-align: center;
    font-size: 18px;
}
.social-icons li a:hover {
    opacity: 0.6;
}


/*.product-item .reviews-stars:before {
    font-family: "fontello";
    content: "\e803 \e803 \e803 \e803 \e803";
    color: #b8b8b8;
}
.product-item .reviews-stars {
    color: #000;
}*/

.reviews-stars:before {
    font-family: "fontello";
    content: "\e803 \e803 \e803 \e803 \e803";
    color: #b8b8b8;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star,
.reviews-stars {
    color: #000000;
}
.sidebar-widget .product-item .img{
    max-width: 170px;
    min-height: 170px;
    margin: 25px auto 5px;
    border: 1px solid #ccc;
    padding: 0;
}
.product-items .product-item .name{
    text-align: center;
    font-weight: 600;
}
.product-item .name a {
    color: #000;
}
.product-item del.regular-price {
    text-decoration: line-through;
}
.sale-price {
    color: #D04B64;
}
.product-item .on-sale-badge {
	background-color: #D04B64;
}
del.original-price {
    font-weight: 500;
}
span.freeshipping {
    color: #00A888;
}
.product-items .product-item {
	text-align: center;
}
.product-item .status span:before {
    content: "-";
}
.product-item .status {
    font-size: 12px;
    
}
.product-items .product-item .price {
    font-size: 16px;
    font-weight: bold;
}
.product-item .reviews{}
.product-item .action{}
.product-item .img {
    position: relative;
	padding-top: 100%;
}
.product-item .img a {
    display: block;
}
.product-item .img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	max-height: 100%;
}
.head-mobile-nav > a {
    color: #000;
    font-size: 24px;
    line-height: 1;
}

/*
** Homepage
*/
#leftContent{
    width: 100% !important;
    padding: 20px 30px;
}
#leftContent{
    background-color: #f9f9f9;
}
.widget-body a{
    font-weight: 600;
}
.widget-header{
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    padding: 5px 0;
    color: #51524e;
}
.widget-header:after{
    content: "";
    width: 90%;
    height: 1px;
    background-color: #ffe55c;
    display: block;
    position: absolute;
    bottom: -1px;
    z-index: 10;
}
.home_history{
    background-color: #fff5c1;
    padding: 70px 0;
}
.home_history .header h3{
    position: relative;
    font-weight: 300; 
    padding: 5px 0;
}
.home_history .header h3:after{
    content: "";
    width: 50%;
    height: 1px;
    background-color: #ffe55c;
    display: block;
    position: absolute;
    bottom: -1px;
    z-index: 10; 
}
.products-section {
    padding: 30px 0;
}
.products-section h2 {
    margin: 0;
    font-size: 24px;
}
.products-section h2 {
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    color: #54565b;
    padding-bottom: 10px;
    margin: 0 0 25px;
    position: relative;
}
.products-section h2:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000000;
    display: block;
    position: absolute;
    bottom: -1px;
    z-index: 10;
}
.home-page-content .category-footer {
    padding: 40px 0 60px;
}
.home-page-content .category-footer h3 {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 20px;
    font-weight: bold;
}
.home-page-content .category-footer p {
    margin: 0 0 30px;
    text-align: justify;
}
.home-page-content .category-footer a:hover img {
    opacity: 0.7;
}
.home-page-content .category-header {
    padding: 50px 0;
}
.home-page-content .category-header img {
    margin: 0 auto;
}
.extrapages-shower a {
    display: block;
    background-color: #2d2d2d;
    color: #fff;
    padding: 10px 18px;
    text-decoration: none !important;
}
.extrapages-shower a:after {
    content: "\f106";
    font-family: "fontello";
    float: right;
}
.extrapages-shower a.collapsed:after {
    content: "\f107";
}
@media(max-width: 1023px) {
    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
        min-height: 0;
    }
    .navbar-nav > li.dropdown > a:after {
        float: right;
    }
    .mailist-box {
        float: none;
        padding: 30px 0;
        width: 100%;
        margin: 0 auto;
    }
    .footer-social {
        text-align: center;
    }
}
@media(max-width: 767px) {
    .logo {
        text-align: center;
    }
    .logo img {
        position: static;
    }
    .searchBox {
        padding: 20px 0 0;
    }
    .search-form-col {
        clear: both;
    }
    .flex-direction-nav a:before {
        font-size: 24px;
    }
    .flex-direction-nav a {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: -12px 0 0;
    }
    .mailinglist-form{
        margin: 0;
    }
    .social-icons li a {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 21px;
    }
    .footer-social ul li {
        padding: 0 4px;
    }
    .extrapages {
        display: none;
    }
    .home-page-content .category-header {
        padding: 15px 0;
    }
    .extrapages-shower a {
        display: block;
    }
    ul.extrapages {
        margin: 0;
        padding: 15px 0;
    }
    ul.extrapages li a {
        font-size: 14px;
    }
}
@media(max-width: 567px) {
    .product-items.product-items-1 .product-item,
    .product-items.product-items-2 .product-item,
    .product-items.product-items-3 .product-item,
    .product-items.product-items-4 .product-item,
    .product-items.product-items-5 .product-item,
    .product-items.product-items-6 .product-item {
        max-width: 270px;
    }
}
.flexslider2 .slides > li{
    display: block;
    width: 25%;
}
.menu-open {
    overflow: hidden;
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,0.5);
}
.menu-open .mobile-menu {
    overflow-x: hidden;
    overflow-y: auto;
}
.mobile-menu-inner {
    background-color: #fff;
    padding: 30px 20px;
    width: 250px;
    margin-left: auto;
    margin-right: 0;
    min-height: 100vh;
    position: relative;

    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(250px,0);
    -ms-transform: translate(250px,0);
    -o-transform: translate(250px,0);
    transform: translate(250px,0);
}
.menu-open .mobile-menu-inner {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.mobile-menu-close a {
    color: #000;
    display: inline-block;
    line-height: 1;
    font-size: 24px;
    text-decoration: none;
}
.mobile-menu-close a:after {
    content: '\e805';
    font-family: "fontello";
}
.mobile-menu-widget {
    margin: 30px 0;
}
.mobile-menu-widget h3 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 1;
    border-bottom: 1px solid #ececec;
}
.mobile-menu-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobile-menu-widget ul li {
    margin: 0 0 10px;
}
.mobile-menu-widget ul li a {
    padding: 0;
    line-height: 1;
    font-size: 13px;
    background-color: transparent !important;
    display: block;
    color: #555;
    text-decoration: none !important;
}
.mobile-menu-widget ul li a:hover {
    color: #333;
}
.mobile-menu-widget ul ul {
    display: none !important;
}
.mobile-menu-widget ul li a:after {
    display: none;
}

.mailinglist-response {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #2d2d2d;
    color: #ccc;
}
.mailinglist-error span {
    color: #8a6d3b;
}
.mailinglist-subscribed span,
.mailinglist-unsubscribed span {
    color: #3c763d;
}
.mailinglist-response,
.mailinglist-response div {
}

.floating-cart {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
    background-color: #101010;
    color: #fff;
    border-radius: 20px 0 0 20px;
    padding: 15px;
    text-align: center;
    width: 90px;
    display: none;
}
.floating-cart a,
.floating-cart a:hover {
    color: #ececec;
    text-decoration: none;
}
.floating-cart span.cart-icon {
    display: block;
    font-size: 30px;
    line-height: 1;
}
.floating-cart span.cart-details {
    font-size: 12px;
    text-transform: none;
    display: block;
    margin: 5px 0 0;
}

.paging {
    float: right;
}
.paging strong, 
.paging a {}
.paging strong,
.paging a:hover {
    color: #fff;
    background-color: #0f0f0f;
    text-decoration: none;
}

/*
Common page styles */
.page_header {
    margin: 0 0 30px;
}
.page_heading {
    margin: 0 0 0;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
    position: relative;
	color: #51524E;
}
.page_heading:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 1px;
    border-bottom: 1px solid #000000;
}
.page_heading,
.widget-header,
h1.page_headers{
	color: #51524E;
}
.page_heading:after,
.widget-header:after {
    border-bottom: 1px solid #000000;
}
.category-header {
    margin: 20px 0 0;
}

@media(max-width: 1199px){
    .home_history{
        padding: 20px 0;
    }
    .browsing_historyBlock .header{
        margin: 0;
    }
}

@media(max-width: 1023px){
    .navbar-nav > li.dropdown > a:after, .navbar-header{
        display: none;
    }
}

@media(max-width: 991px){
    .top-nav, .navbar-wrapper{
        
    }
.hide-991{
display:none;
}
    .logo{
        text-align: center;
    }
    .logo img {
        position: static;
    }
    .mailist-box{
        text-align: center;
        padding: 0;
    }
    .mailing-section{
        padding: 10px 0 30px;
    }
    .mailing-section .mailist-box h3{
        text-align:center;
        width: 100%;
    }
    .mailinglist-form{
        width: 100%;
    }
    .subscribe{
        float: none;
        display: inline-block;
    }
    #home #leftContent{
        display: none;
    }
    .navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar{
        background-color: #fff;
    }
}

@media(max-width: 767px){
    .flexslider2 .slides > li{
        width: 50%;
    }
    .flexslider2 .slides > li{
        margin-bottom: 0;
    }
    .product-item .img img {
        position: inherit;
    }
    .product-item .img {
        min-height: auto;
    }
.top-nav, .navbar-wrapper {
    display: block !important;
    text-align: center;
}
#searchBox .search-form .search-text {
    width: 300px !important;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}
.top-nav .useraccount ul {
    float: left;
}
.useraccount{
    max-width: 315px;
    margin: auto;
}
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
    color: #333;
}

@media (min-width: 992px) {
    div#navbar,
    .navbar-inverse {
        background-color: transparent !important;
        border:none !important;
        min-height: 0;
        padding: 15px 0;
    }
    .navbar-nav {
        float:none;
        text-align:center;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-weight: bold;
        padding: 0 25px;
        font-size: 18px;
    }
    .navbar-nav > li {
        float: none;
        display: inline-block;
    }
}
